<!DOCTYPE>
<html>
<head>
    <title>Survey Form</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div id=wrapper>
    <div id=container>
        <h1>Thank you for your interest! A Match Support Specialist will contact you shortly about your inquiry.</h1>
        <h2>Submitted Information</h2>

        <h3>Name: <%= context.name %> </h3>
        <h3>Age: <%= context.age %> </h3>
        <h3>Your Location: <%= context.location %> </h3>
        <h3>Occupation: <%= context.occupation %> </h3>
        <h3>Comment: <%= context.comment %> </h3>
        <button type="submit"><a href="/">Go Back</a>
    </div>

</div>
</body>
</html>
